<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-hospital-o"></i>&nbsp;Principal
        </a>  

        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;Forms
        </a>    
        
        <a [routerLink]="['/login']" (click)="onLoggedout()" class="list-group-item" >
            <i class="fa fa-fw fa-power-off"></i>&nbsp;Sair
        </a>          
    </div>
</nav>
