<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/principal" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-hospital-o"></i>&nbsp;Principal
        </a>
      
        <a *ngIf="UsuarioRole || AdministradorRole" [routerLink]="['/usuarios']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;Usuários
        </a>

        <a *ngIf="AtendenteRole || AdministradorRole" [routerLink]="['/atendentes']" [routerLinkActive]="['router-link-active']"
            class="list-group-item">
            <i class="fa fa-bell-o"></i>&nbsp;Atendentes
        </a>

        <a *ngIf="PacienteRole || AdministradorRole" [routerLink]="['/pacientes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-address-card-o"></i>&nbsp;Pacientes
        </a>

        <a *ngIf="MedicoRole || AdministradorRole" [routerLink]="['/medicos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-stethoscope"></i>&nbsp;Médicos
        </a>

        <a *ngIf="RemedioRole || AdministradorRole" [routerLink]="['/remedios']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-medkit"></i>&nbsp;Remédios
        </a>

        <a *ngIf="ConsultaRole || AdministradorRole" [routerLink]="['/consultas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-heartbeat"></i>&nbsp;Consultas
        </a>

        <a [routerLink]="['/login']" (click)="onLoggedout()" class="list-group-item">
            <i class="fa fa-fw fa-power-off"></i>&nbsp;Sair
        </a>
    </div>
</nav>