
<div [@routerTransition]>
    <app-page-header [heading]="'Usuários'" [icon]="'fa-user'"></app-page-header>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <input #search class="search" type="text" placeholder="Pesquisar..." (keyup)="onSearch(search.value)">
            </div>
        </div>
    </div>
    <br>
  
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="oneditConfirm($event)">
                </ng2-smart-table>
            </div>
        </div>
    </div>
</div>